<!-- テンプレート -->
{% extends '_layout/_index.html' %}

<!-- メタ -->
{% block meta %}
  {% set metas = {
    description: 'デスクリプションが入ります',
    keywords: 'キーワードが入ります'
  } %}
{% endblock %}

<!-- タイトル -->
{% block title %}タイトル{% endblock %}

<!-- コンテンツ -->
{% block content %}
<main id="index-content">

  <section id="about" class="index-sec content-base">
    <h2 class="ttl-sec_index">ABOUT</h2>
    <div class="col-2">
      <div class="col"><img src="https://placehold.jp/200x200.png" alt=""></div>
      <p class="col txt-lead">リード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入ります</p>
    </div>
  </section>
  <!-- /#about -->

  <section id="works" class="index-sec">
    <div class="content-base">
      <h2 class="ttl-sec_index">WORKS</h2>
      <ul class="col-4 works-art-list">
        <li class="col">
          <a href="">
            <div class="thumb"><img src="https://placehold.jp/300x200.png" alt=""></div>
            <div class="content">
              <time class="date">2018/09/09</time>
              <p class="txt">リード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入ります</p>
              <a href="" class="btn-fill">Read More</a>          
            </div>
          </a>
        </li>
        <li class="col">
          <a href="">
            <div class="thumb"><img src="https://placehold.jp/300x200.png" alt=""></div>
            <div class="content">
              <time class="date">2018/09/09</time>
              <p class="txt">リード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入ります</p>
              <a href="" class="btn-fill">Read More</a>          
            </div>
          </a>
        </li>
        <li class="col">
          <a href="">
            <div class="thumb"><img src="https://placehold.jp/300x200.png" alt=""></div>
            <div class="content">
              <time class="date">2018/09/09</time>
              <p class="txt">リード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入ります</p>
              <a href="" class="btn-fill">Read More</a>          
            </div>
          </a>
        </li>
      </ul>
    </div>
  </section>
  <!-- /#works -->

</main>
{% endblock %}