<!-- テンプレート -->
{% extends '_layout/_index.html' %}

<!-- メタ -->
{% block meta %}
  {% set metas = {
    description: 'デスクリプションが入ります',
    keywords: 'キーワードが入ります'
  } %}
{% endblock %}

<!-- タイトル -->
{% block title %}タイトル{% endblock %}

<!-- コンテンツ -->
{% block content %}
<main class="index-contents content-base">
  <section class="main-sec">
    <h2 class="ttl-sec">ABOUT</h2>
    <p>テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>

    <section class="sub-sec">
      <h3 class="ttl-sub-sec">具体的な説明</h3>
      <p>テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
    </section>
  </section>
  <!-- /.main-sec -->

  <section class="main-sec">
    <h2 class="ttl-sec">WORKS</h2>
    <p>テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>

    <section class="sub-sec">
      <h3 class="ttl-sub-sec">具体的な説明1</h3>
      <p>テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
    </section>
    <!-- /.sub-sec -->
    <section class="sub-sec">
      <h3 class="ttl-sub-sec">具体的な説明2</h3>
      <p>テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
    </section>
  </section>
  <!-- /.main-sec -->
</main>
<!-- /.main -->
{% endblock %}