<!-- テンプレート -->
{% extends '_layout/_index.html' %}

<!-- メタ -->
{% block meta %}
  {% set metas = {
    description: 'デスクリプションが入ります',
    keywords: 'キーワードが入ります'
  } %}
{% endblock %}

<!-- タイトル -->
{% block title %}WORKS{% endblock %}

<!-- コンテンツ -->
{% block content %}
<main id="under-content">

  <section id="works" class="under-sec">
    <h2 class="ttl-sec_under">WORKS</h2>
    <div class="content-base">
      <ul class="col-4 works-art-list">
        <li class="col">
          <a href="">
            <div class="thumb"><img src="https://placehold.jp/300x200.png" alt=""></div>
            <div class="content">
              <time class="date">2018/09/09</time>
              <p class="txt">リード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入ります</p>
              <a href="" class="btn-fill">Read More</a>          
            </div>
          </a>
        </li>
        <li class="col">
          <a href="">
            <div class="thumb"><img src="https://placehold.jp/300x200.png" alt=""></div>
            <div class="content">
              <time class="date">2018/09/09</time>
              <p class="txt">リード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入ります</p>
              <a href="" class="btn-fill">Read More</a>          
            </div>
          </a>
        </li>
        <li class="col">
          <a href="">
            <div class="thumb"><img src="https://placehold.jp/300x200.png" alt=""></div>
            <div class="content">
              <time class="date">2018/09/09</time>
              <p class="txt">リード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入ります</p>
              <a href="" class="btn-fill">Read More</a>          
            </div>
          </a>
        </li>
        <li class="col">
          <a href="">
            <div class="thumb"><img src="https://placehold.jp/300x200.png" alt=""></div>
            <div class="content">
              <time class="date">2018/09/09</time>
              <p class="txt">リード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入ります</p>
              <a href="" class="btn-fill">Read More</a>          
            </div>
          </a>
        </li>
        <li class="col">
          <a href="">
            <div class="thumb"><img src="https://placehold.jp/300x200.png" alt=""></div>
            <div class="content">
              <time class="date">2018/09/09</time>
              <p class="txt">リード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入ります</p>
              <a href="" class="btn-fill">Read More</a>          
            </div>
          </a>
        </li>
        <li class="col">
          <a href="">
            <div class="thumb"><img src="https://placehold.jp/300x200.png" alt=""></div>
            <div class="content">
              <time class="date">2018/09/09</time>
              <p class="txt">リード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入ります</p>
              <a href="" class="btn-fill">Read More</a>          
            </div>
          </a>
        </li>
        <li class="col">
            <a href="">
              <div class="thumb"><img src="https://placehold.jp/300x200.png" alt=""></div>
              <div class="content">
                <time class="date">2018/09/09</time>
                <p class="txt">リード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入ります</p>
                <a href="" class="btn-fill">Read More</a>          
              </div>
            </a>
          </li>
          <li class="col">
            <a href="">
              <div class="thumb"><img src="https://placehold.jp/300x200.png" alt=""></div>
              <div class="content">
                <time class="date">2018/09/09</time>
                <p class="txt">リード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入ります</p>
                <a href="" class="btn-fill">Read More</a>          
              </div>
            </a>
          </li>
          <li class="col">
            <a href="">
              <div class="thumb"><img src="https://placehold.jp/300x200.png" alt=""></div>
              <div class="content">
                <time class="date">2018/09/09</time>
                <p class="txt">リード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入りますリード文が入ります</p>
                <a href="" class="btn-fill">Read More</a>          
              </div>
            </a>
          </li>
        </ul>
      </div>
  </section>
  <!-- /#about -->

</main>
{% endblock %}