.ttl- {

  &logo {
    text-align: center;
  }//logo

  &sec_ {
    &index {
      margin-bottom: 20px;
      font-size: 18px;
    }//index

    &under {
      padding: 80px 0;
      font-size: 30px;
      text-align: center;
    }//under
  }//sec

}//ttl